.container {
  margin-top: 50px;
  padding: 20px;
  border: 1px solid #333; /* Blackish border */
  border-radius: 8px;
  background-color: #1a1a1a; /* Dark background color */
  color: #e6e6e6; /* Light text color for readability */
  width: 100%;
  /* border: 3px solid white; */
}

.heading {
  color: #007bff; /* Blue text for the heading */
  margin-bottom: 20px;
  transition: color 0.3s ease;
}

.heading:hover {
  color: #0056b3; /* Darker blue on hover */
}

.serviceCard {
  height: 80%;
  transition: transform 0.3s ease;
}

.serviceCard:hover {
  transform: scale(1.05); /* Increase size on hover */
}

.serviceTitle {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.serviceDescription {
  font-size: 1.1rem;
  line-height: 1.6;
}

.icon {
  font-size: 3rem;
  margin-bottom: 10px;
  color: #007bff; /* Blue icon color */
}
