.navbar-nav .nav-link {
  color: rgb(227, 227, 243) !important;
  transition: all 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: white !important;
  background-color: darkblue !important;
  border-radius: 5px;
}

.navbar-brand {
  color: rgb(227, 227, 243) !important;
  font-weight: bold;
}
